body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  user-select: none;
}
